blinker==1.9.0
Bootstrap-Flask==2.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
dotenv==0.9.9
Flask==2.3.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask-Limiter==3.5.0
Flask-Caching==2.1.0
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
python-dotenv==1.0.1
requests==2.31.0
SQLAlchemy==2.0.25
urllib3==2.3.0
Werkzeug==3.0.0
WTForms==3.0.1
gunicorn==20.1.0