<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {{ bootstrap.load_css() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <style>
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    <header>
        <div class="w-100 d-flex flex-wrap justify-content-center align-items-center flex-column flex-sm-row px-1 px-sm-3 py-2 py-md-3">
            <!-- Logo and Title -->
            <a class="d-flex align-items-center mb-lg-0 me-md-auto link-body-emphasis text-decoration-none mb-3 mb-md-0">
                <img class="bi me-2" width="50" height="50" src="{{ url_for('static', filename='img/logo2.png') }}"
                    alt="">
                <span class="fs-4">Rebetiko Sheet Music</span>
            </a>

            <!-- Search Form view the resulst under the input-->
            <form class="d-flex justify-content-center align-items-center g-3">
                <input type="text" class="form-control me-2" id="songSeach" placeholder="Search for song">
                <button type="submit" class="btn btn-primary">Search</button>
                <!-- view the reuslts here -->
                <div id="searchResults"></div>
            </form>
        </div>
    </header>



    {% block content %}{% endblock %}

    {{ bootstrap.load_js() }}
    <script>
        // seach for songs on typing and show the results get method to /search route, the url should be with the query parameter
        $(document).ready(function () {
            $("#songSeach").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/search",
                        type: "GET",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response(data);  // Show search results
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    // Redirect to the song's detailed page
                    window.location.href = ui.item.url;  // Use the 'url' returned by the server
                }
            });
        });

    </script>

</body>

</html>