{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>

    {% for match in movies_matches %}
    <p class="display-10 d-flex align-items-center"><span class="lead text-success">{{match.title}}</span>-
        {{match.release_date.split("-")[0]}}
        <a href="{{url_for('add_movie',  title=match.title, img_url= match.poster_path, year=match.release_date, rating=match.vote_average, description = match.overview)}} " class="btn btn-sm btn-outline-primary ms-2">Add Movie</a>
    </p>
    {% endfor %}

</div>
{% endblock %}